.headContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 2rem;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.imageComp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 60%;
}

.image {
  width: 100%;
  height: auto;
}

.formComponent {
  width: 30%;
  min-height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #cfd1d4;
}

.formComponent p {
  color: #cfd1d4 !important;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icons {
  width: 90vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconContainer {
  display: flex;
  width: 200px;
  color: #10151e;
  justify-content: space-between;
}

.icon {
  height: 20px;
  width: auto;
  filter: invert(74%) sepia(83%) saturate(8%) hue-rotate(177deg) brightness(94%) contrast(97%);
}

.input {
  width: 60%;
  padding: 10px;
  border-radius: 500px;
  border: 1px solid #cfd1d4;
  outline: none;
  color: #cfd1d4;
  font-size: 12px;
  padding: 5px 15px;
  height: 25px;
  margin: 15px 0px 0px 0px;
  background-color: transparent;
}

.submitText {
  width: 60%;
  font-size: 13px;
  color: #cfd1d4;
  padding: 5px 15px;
  border-radius: 500px;
  border: 1px solid #cfd1d4;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
  background-color: transparent;
  height: 35px;
}

.submitText:hover() {
  background-color: purple;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 20px;
}

.logo {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  color: #fff;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  filter: invert(74%) sepia(83%) saturate(8%) hue-rotate(177deg) brightness(94%) contrast(97%);
}

.menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.outlinedButton {
  padding: 8px 15px;
  border-radius: 500px;
  border: 1px solid #cfd1d4;
  outline: none;
  background-color: transparent;
  color: #cfd1d4;
}

.footContainer {
  width: 100%;
  height: 100vh;
}

.phone {
align-items: center;
}

.email, .phone {
  display: flex;
  align-items:center;
  justify-content: center;
  color: #cfd1d4;
  font-size: 14px;
  font-weight: 500;
}

.email img, .phone img {
  filter: invert(74%) sepia(83%) saturate(8%) hue-rotate(177deg) brightness(94%) contrast(97%);
}

.emailIcon, .phoneIcon {
  height: 17px;
  width: auto;
  margin-right: 10px;
}

.topComponent {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.leftComp {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightComp {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.phoneImage {
  display: block;
  width: 60%;
  height: 55%;
}
.rightCompChild {
  width: 90%;
  height: 60%;
}
.focusedText {
  color: #cfd1d4;
  font-size: 200%;
}
.paraText {
  color: #717678;
  line-height: 1.6;

}
.downloadButton {
  width: 40%;
  font-size:small;
  color: #cfd1d4;
  padding: 10px;
  border-radius: 500px;
  border: 2px solid #cfd1d4;
  cursor: pointer;
  background-color: transparent;
  margin: 15px 0px 0px 0px;
}

.market {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 10px 50px;
}

.market_logo img, .market_email img, .market_phone img {
  display: flex;
  align-items: center;
  width: fit-content;
  filter: invert(74%) sepia(83%) saturate(8%) hue-rotate(177deg) brightness(94%) contrast(97%);
}

.market_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #cfd1d4;
  width: fit-content;
}

.market_phone, .market_email {
  display: flex;
  margin-right: 15px;
  font-size: 12px;
}

.market_menu img {
  margin: 5px;
  height: 12px;
}

.bottomComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.iconComponentFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  color: #cfd1d4;
  font-size: 14px;
}

.footer_iconContainer img {
  margin-right: 20px;
}

.footer_options {
  display: none;
}

/* css for mobile device */
@media only screen and (max-width: 1200px) {
  .menu {
    display: none;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
  }

  .formComponent {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .form {
    align-items: center;
    width: 100%;
  }

  .form input {
    width: 80%;
  }

  .imageComp {
    width: 100%;
  }

  .icons {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  .footContainer {
    height: auto;
  }

  .topComponent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }

  .leftComp {
    grid-row: 2/3;
    width: 100%;
    height: auto;
  }

  .leftComp img {
    width: 80%;
  }

  .rightComp {
    grid-row: 1/2;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .rightComp .downloadButton {
    height: 40px;
    width: auto
  }

  .market {
    flex-direction: column;
    padding: 10px 20px;
    margin: 40px 0 20px 0;
  }
/*
  .market_logo img {
    height: 100px;
  } */

  .market_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
  }

  .iconComponentFooter {
    flex-direction: column;
  }

  .iconFooter {
    width: 100%;
  }

  .footer_iconContainer {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
  }

  .footer_options {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
  }

  .footer_options span {
    cursor: pointer;
    text-align: center;
    font-size: 12px;
  }
}